.app-title {
  font-weight: normal;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  display: inline-block;
  margin-bottom: 1rem; }

@media screen and (min-width: 90em) {
  #sticky-wrapper {
    width: 100%; } }

#budget-filters {
  background-color: #f7f7f7;
  padding: 1rem 1rem 0;
  margin: 0 0 1.5rem;
  border: 1px solid #ddd; }

#budget-items {
  margin: 0 -0.5rem 1rem; }

.budget-item {
  width: 50%;
  padding: 0 0.5rem 0;
  margin: 0 0 1rem; }
  @media screen and (min-width: 40em) {
    .budget-item {
      width: 33.333%; } }
  @media screen and (min-width: 64em) {
    .budget-item {
      width: 20%; } }
  .budget-item .size {
    cursor: pointer;
    background-color: #f7f7f7;
    border-top: 1px solid #43AC6A;
    line-height: 1.2; }
  .budget-item span {
    padding: 0.25rem 0.375rem 0;
    display: block;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd; }
  .budget-item .agency {
    font-size: 0.875rem;
    font-weight: 700; }
  .budget-item .category {
    font-size: 0.625rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd; }

.amounts-to-be-scheduled .size {
  border-top-color: #d05d4e; }

.charges-services-expenses .size {
  border-top-color: #FFB716; }

.otps .size {
  border-top-color: #EFDB1D; }

.contractual-services .size {
  border-top-color: #43AC6A; }

.pay-fringe-benefits .size {
  border-top-color: #2f56a6; }

.property-equipment-supplies .size {
  border-top-color: #7E73E5; }

.social-services .size {
  border-top-color: #A24993; }

.transfers-for-debt-service .size {
  border-top-color: #A07952; }

#budget-filter--key {
  line-height: 1; }
  #budget-filter--key li {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0; }
  #budget-filter--key .label {
    font-size: 0.75rem; }

.label.amounts-to-be-scheduled {
  background-color: #d05d4e;
  color: #fff; }

.label.charges-services-expenses {
  background-color: #FFB716;
  color: #222; }

.label.otps {
  background-color: #EFDB1D;
  color: #222; }

.label.contractual-services {
  background-color: #43AC6A;
  color: #fff; }

.label.pay-fringe-benefits {
  background-color: #2f56a6;
  color: #fff; }

.label.property-equipment-supplies {
  background-color: #7E73E5;
  color: #fff; }

.label.social-services {
  background-color: #A24993;
  color: #fff; }

.label.transfers-for-debt-service {
  background-color: #A07952;
  color: #fff; }

.budget-line-item {
  border-top: 1px solid #e6e6e6;
  margin: 0;
  padding: 0.5rem 0;
  text-transform: uppercase; }
